USER=
PROJECT=poc-pr-review

# GitHub Personal Access Token (precisa de permissão: pull_requests e issues write)
GITHUB_TOKEN=

# Google Gemini API Key (https://aistudio.google.com/app/apikey)
GOOGLE_API_KEY=
